body {
    background-color: #1e1e1e;
    /* background: rgb(47, 30, 84);
    background: linear-gradient(150deg, rgba(47, 30, 84, 1) 0%, rgba(11, 8, 27, 1) 32%, rgba(0, 0, 36, 1) 71%, rgba(0, 212, 255, 1) 100%); */

}





.cards {
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.card {
    background-color: aqua;
    border-radius: 10px;
    padding-left: 20px;
}