.cards {
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.card {
    background-color: aqua;
    border-radius: 10px;
    padding-left: 20px;
}